wk1/docker_sql/data/nyc_taxi.csv wk1/docker_sql/data/yellow_tripdata_2021-01.parquet
wk1/docker_sql/.ipynb_checkpoints/upload_data-checkpoint.ipynb
wk1/docker_sql/data/nyc_taxi.csv wk1/docker_sql/data/yellow_tripdata_2021-01.parquet
wk1/docker_sql/data/
